*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    height: 100vh;
}

.smoothScrollBar {
    overflow: auto;
}

header{
    padding: 1vh 11vw;
}
.hero{
    padding: 24vh 11vw 20vh 11vw;
}
.showcase{
    padding: 0vh 11vw;
}


footer{
    padding: 2vh 11vw;
    margin-top: 10rem;
}
p,h1,h2,h3,h4,h5,a,.project-title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,h3,h4,h5,.project-title{
    font-weight: bold;
}
.project-title{
    font-size: 6.8vw;
    line-height: 1.2;
    color: transparent;
    text-shadow: none;
    -webkit-text-stroke: 2px #000000;
    padding: 24vh 0vw 14vh 0vw;
    
}
.project-footer-link {
    font-size: 1.2rem;
    
}
.emoji{
    font-style: normal;
}
.img-box{
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 40px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.img-box img {
    max-width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.img-box:hover img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.text-tag {
    color: rgba($color: #000000, $alpha: 0.3);
}

#case02,#case03,#case04,#case05 {
    margin-top: 10rem;
}


@media (max-width: 767.98px) {
    #case02,#case03,#case04 {
        margin-top: 5rem;
    }
}

/* Effect hover nav: circle */

@media (min-width: 992px) {
    *,
    *:after,
    *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    nav a {
        position: relative;
        display: inline-block;
        margin: 15px 25px;
        
    }
    
    nav a:hover,
    nav a:focus {
        outline: none;
    }
    
    // .hover-nav a::before,
    .hover-nav a::after {
        position: absolute;
        top: 50%;
        left: 60%;
        width: 50px;
        height: 50px;
        background-color: rgba($color: #FFA606, $alpha: 0.2);
        border-radius: 50%;
        content: '';
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
        -moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
        transform: translateX(-50%) translateY(-50%) scale(0.2);
    }
    
    // .hover-nav a::after {
    // 	width: 50px;
    // 	height: 50px;
    // 	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    // 	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    // 	transform: translateX(-50%) translateY(-50%) scale(0.8);
    // }
    
    .hover-nav a:hover::before,
    .hover-nav a:hover::after
     {
        opacity: 1;
        -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
        -moz-transform: translateX(-50%) translateY(-50%) scale(1);
        transform: translateX(-50%) translateY(-50%) scale(1);
    }
    


}


