*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffffff;
    height: 100vh;
}

.smoothScrollBar {
    overflow: auto;
}

header{
    padding: 1vh 14vw;
}
.hero{
    padding: 24vh 14vw 20vh 14vw;
}
.showcase{
    padding: 0vh 14vw;
}
.showcase-row{
    padding: 0vh 14vw;
}
footer{
    padding: 4vh 14vw;
}
p,h1,h2,h3,h4,h5,a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,h2,h3,h4,h5{
    font-weight: bold;
}

.emoji{
    font-style: normal;
}
.img-box{
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 18px;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.img-box img {
    max-width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.img-box:hover img {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

.text-tag {
    color: rgba($color: #000000, $alpha: 0.3);
}

#case02,#case03,#case04 {
    margin-top: 10rem;
}

@media (max-width: 767.98px) {
    #case02,#case03,#case04 {
        margin-top: 5rem;
    }
}